@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&display=swap');
:root{
    --backround-color:#fff;
    --blue-color:#8193F1;
    --black-color:#000;
}
/*General style*/
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,button,input,textarea {
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 60%;/*100% default*/
}
img.img-element{
    width: 100%;
    border-radius: 5px;
}
.container{
    position: relative;
    z-index: 5;
    max-width: 100%;
    /*92rem default*/
    margin: 0 auto;
    padding: 0 4rem;
    /* background-color: var(--blue-color); */
}
.grid-2{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    /* margin: 0 100px; */
}
.text{
    font-size: 1.25rem;
    color: var(--black-color);
    line-height: 1.6rem;
}
/*end of General style*/
/*header style*/
header{
    width: 100%;
    background-color: var(--backround-color);
    overflow: hidden;
}
nav{
    width: 100%;
    position: relative;
    z-index: 50;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color:var(--blue-color);
    width:100%;
    
}
.logo{
    width:100px;
    height: 100%;
    display: flex;
    align-items: center;
}
.links ul{
    display: flex;
    margin-top: 1.5rem;
}
.links a{
    display: inline-block;
    padding: .9rem 1.2rem;
    color: var(--black-color);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transform: .3s;
    /* background-color: #8193F1; */
}
.links a.active{
    background-color: antiquewhite;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.3rem 1.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
/*end of header style*/
.links a:hover{
    color: var( --backround-color);
}
.links a.active:hover{
    color: var(--blue-color);
}
.header-content  .container.grid-2{
    
    padding-bottom:2.5rem ;
    text-align: left;
    grid-template-columns:2.5fr 3.5fr;
    min-height:calc(100vh-6rem);
}
.column-1{
    margin-right: 2.0rem;
}
.column-1 img{
    width: 50%;
    margin: 10px 15px;
    padding:0 20px;
}
.column-2{
    margin-left: 2rem;
    
}
.header-title{
    font-size: 1.8rem;
    line-height: 0.8rem;
    color: var(--black-color);
    margin-top: 140px;
}

.header-content .text{
    margin:0.15rem 0;
  
}
.header-content .subheader{
    margin-top: 2.15rem ;
   
}
.btn{
    display: inline-block;
    margin: 1.5rem 0;
    padding: 0.85rem 2rem;
    background-color: var(--blue-color);
    color:var(--black-color);
    border-radius: 2rem;
    font-size: 1.05rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: .3s;
}
.btn:hover{
    background-color:var(--black-color);
    color:var(--backround-color);
}
.about-content{
    background-color: #8193F1;
    /* border: 2px solid #000; */
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    /* z-index: 5; */
    height: 700px;/*92rem default*/
    margin-top:8rem;
    padding: 4 4rem;
}
  .section-header h1.header-title,.section-header h4.header-title{
    text-align: center;
    margin: 3.5rem;
    text-transform: uppercase;
    
} 

/* social media icon */
.fa {
    padding: 10px;
    font-size: 15px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 5px;
  }
  
  .fa:hover {
      background-color: #8193F1;
      color: #000;
      opacity: 0.7;
      transition: 0.3s;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
.fa-whatsapp{
    background: green;
    color: white;
} .fa-github{
    background:rgb(43, 44, 43);
    color: white;
}
  /* End of social media icon */
  .skills {
    margin:10px
    
  }
  .pskills{
    font-size: 20px;
}

.bar-1 {
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
}

.skill {
    background-color: #8193F1;
    color: white;
    padding: 0.1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.html {
    width: 90%;
}

.css {
    width: 95%;
}
.javascript {
    width:85%;
}
.nodejs{
    width: 90%;
}
.php{
    width: 95%;
}
.frontend {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.backend {
    margin-left: 30px;
}
.textservice{
    text-align: center;
}
#services,#skills{
    margin-top:8rem;
    padding: 4 4rem;
}
.services,.blogs{
    margin: 30px;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background:#fff;
}

.blogs .box-container .box img{
    height:25rem;
    width:100%;
    object-fit: cover;
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a{
    color:var(--light-color);
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover{
    color:var(--black);
}

.blogs .box-container .box .content .icons a i{
    color:var(--orange);
    padding-right: .5rem;
}

.blogs .box-container .box .content h3{
    line-height: 1.8;
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.blogs .box-container .box .content p{
    line-height: 1.8;
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
}
.icons-container {
	width: 40px;
}

.social-icons {
	font-size: 2em;
	color: #fff;
}

.social-icons:hover {
	color: #000;
}
